button {
  width: 25%;
}

/* Hide Player and Score Cards */
.hideDisplay {
  display: none;
}

/* Hide OneDice Card */
.hideOneDice {
  display: none;
}

/* Hide TwoDice Card */
.hideTwoDice {
  display: none;
}

/* Hide Win Card */
.winCard {
  display: none;
}